* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  background: url("assets/bg.jpg") center/cover no-repeat;
  overflow: hidden;
}

#locked {
  position: absolute;
  inset: 0;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #555;
}

.hidden {
  display: none;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  inset: 0;
  background: transparent;  /* keeps bg.jpg always visible */
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 text-align: center;
	color: #BA55D3;
	text-shadow: 0 4px 10px rgba(0,0,0,0.5)
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 52px;
  text-align: center;
  margin-bottom: 12px;

  background: linear-gradient(90deg, #2ECC71, #1ABC9C, #16A085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 4px 10px rgba(0,0,0,0.4);
   animation: textSway 4s ease-in-out infinite alternate;
}

.bouquet {
  transform: rotate(-20deg);

  width: 340px;             /* enlarged bouquet */
  margin-top: -5px;         /* pulls it closer to text */
  filter: drop-shadow(0 25px 30px rgba(0,0,0,0.45));
   animation: bouquetSwing 7s ease-in-out infinite;
  transform-origin: center;
}

@keyframes textSway {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes bouquetSwing {
  0% {
    transform: translateY(0) rotate(-6deg);
  }
  25% {
    transform: translateY(-8px) rotate(-10deg);
  }
  50% {
    transform: translateY(-14px) rotate(-6deg);
  }
  75% {
    transform: translateY(-8px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) rotate(-6deg);
  }
}

.back-btn {
  margin-top: 25px;
  padding: 12px 28px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(90deg, #B983FF, #91A7FF);
  color: white;

  box-shadow: 0 12px 25px rgba(0,0,0,0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 18px 30px rgba(0,0,0,0.45);
}
